# Binaries
bin/
bin-int/
Intermediates/
!vendor/premake/bin/

# Misc files
*.log

# Visual Studio files and folder
.vs/
.vscode/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
Makefile
